<!-- <h1>MyCounterCoach</h1>

<button routerLink="/create">Crear sesión</button>
<button routerLink="/join">Unirte a sesión</button> -->
<div class="page">
  <mat-card class="card">
    <h1 style="text-align:center;">MyCounterCoach</h1>

    <div class="section">
      <button mat-raised-button color="primary" routerLink="/create" style="width:100%;">
        Crear sesión
      </button>
    </div>

    <button mat-stroked-button routerLink="/join" style="width:100%;">
      Unirte a sesión
    </button>
  </mat-card>
</div>
