<h2>Sesión del atleta</h2>
<a routerLink="/">Salir</a>

<label>
  Nombre del atleta:
  <input formControlName="athleteName" />
</label>

<hr />

<p><strong>Reglas:</strong></p>
<p>{{ session.rules }}</p>

<div *ngFor="let ex of session.exercises">
  <h3>{{ ex.name }}</h3>

  <div *ngFor="let col of ex.columns">
    <label>{{ col.label }}</label>
    <input [type]="col.type === 'number' ? 'number' : 'text'" />
  </div>

  <hr />
</div>


<div formArrayName="exercises">

  <div *ngFor="let ex of exercises.controls; let i = index" [formGroupName]="i">

    <h3>{{ ex.get('name')?.value }}</h3>

    <div formArrayName="values">

      <div *ngFor="let val of getValues(i).controls; let j = index"
           [formGroupName]="j">

        <label>
          {{ val.get('label')?.value }}:
          <input
            [type]="val.get('type')?.value === 'number' ? 'number' : 'text'"
            formControlName="value"
          />
        </label>

      </div>

    </div>

    <hr />

  </div>

</div>

<button (click)="finish()">Finalizar sesión</button>

<h3>Preview JSON</h3>
<pre>{{ form.value | json }}</pre>
<pre>{{ results | json }}</pre>
